<footer class="bg-secondary">
	<div class="py-100 border-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4">
					<div class="mb-5 mb-md-0 text-center text-md-left">
						<!-- logo -->
						<img class="mb-30" src="images/skywire-logo.png" alt="logo">
						<p class="text-white mb-30">Lorem ipsum dolor amet consectetur
							adipisicing elit sed eiusm tempor incididunt labore dolore magna
							aliqua enim.</p>
						<!-- social icon -->
						<ul class="list-inline">
							<li class="list-inline-item"><a class="social-icon-outline"
								href="#"> <i class="ti-facebook"></i>
							</a></li>
							<li class="list-inline-item"><a class="social-icon-outline"
								href="#"> <i class="ti-twitter-alt"></i>
							</a></li>
							<li class="list-inline-item"><a class="social-icon-outline"
								href="#"> <i class="ti-vimeo-alt"></i>
							</a></li>
							<li class="list-inline-item"><a class="social-icon-outline"
								href="#"> <i class="ti-linkedin"></i>
							</a></li>
						</ul>
					</div>
				</div>
				
				<!-- footer links -->
				<div class="col-lg-2 col-md-4 col-6">
					<h4 class="text-white mb-4">Quick Link</h4>
					<ul class="footer-links">
						<li><a href="history.html">Company History</a></li>
						<li><a href="about.html">About Us</a></li>
						<li><a href="contact.html">Contact Us</a></li>
						<li><a href="service.html">Service</a></li>
						<li><a href="privacy.html">Privacy Policy</a></li>
					</ul>
				</div>
				<!-- subscribe form -->
				<div class="col-lg-3 col-md-12 offset-lg-1">
					<div class="mt-5 mt-lg-0 text-center text-md-left">
						<h4 class="mb-4 text-white">Subscribe Us</h4>
						<p class="text-white mb-4">Lorem ipsum dolor sit amet, consect
							etur adipisicing. elit sed do eiusmod.</p>
						<form action="#" class="position-relative">
							<input type="text" class="form-control subscribe"
								name="subscribe" id="Subscribe" placeholder="Enter Your Email">
							<button class="btn-subscribe" type="submit" value="send">
								<i class="ti-arrow-right"></i>
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- copyright -->
	<div class="pt-4 pb-3 position-relative">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-5">
					<p class="text-white text-center text-md-left">
						<span class="text-primary">Skywire</span> &copy; 2019 All Right
						Reserved
					</p>
				</div>
				<div class="col-lg-6 col-md-7">
					<ul class="list-inline text-center text-md-right">
						<li class="list-inline-item mx-lg-3 my-lg-0 mx-2 my-2"><a
							class="font-secondary text-white" href="legal.html">Legal</a></li>
						<li class="list-inline-item mx-lg-3 my-lg-0 mx-2 my-2"><a
							class="font-secondary text-white" href="site-map.html">Sitemap</a></li>
						<li class="list-inline-item mx-lg-3 my-lg-0 mx-2 my-2"><a
							class="font-secondary text-white" href="privacy.html">Privacy Policy</a></li>
						<li class="list-inline-item ml-lg-3 my-lg-0 ml-2 my-2 ml-0">
							<a class="font-secondary text-white" href="term.html">
								Terms &amp;	Conditions
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- back to top -->
		<button class="back-to-top">
			<i class="ti-angle-up"></i>
		</button>
	</div>
</footer>