<!-- navigation -->
<header>
	<!-- top header -->
	<div class="top-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="list-inline text-lg-right text-center">
						<li class="list-inline-item"><a
							href="mailto:info@skywire.com.au">info@skywire.com.au</a></li>
						<li class="list-inline-item"><a href="callto:1234565523">Call
								Us Now: <span class="ml-2"> 123 456 5523</span>
						</a></li>
						<li class="list-inline-item"><a href="#" id="searchOpen">
								<i class="ti-search"></i>
						</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- nav bar -->
	<div class="navigation">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="index.html"> <img
					src="images/skywire-logo.png" alt="logo">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="index.html">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="about.html">About Us</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="service.html" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Service 
							</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="service.html">Service page</a> 
								<a class="dropdown-item" href="service.html">Service page-2</a>
								<a class="dropdown-item" href="service.html">Service Single</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="project.html" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Project 
							</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="project.html">Project 1</a> 
								<a class="dropdown-item" href="project.html">Project 2</a> 
								<a class="dropdown-item" href="project.html">Project 3</a>
							</div>
						</li>

						<li class="nav-item"><a class="nav-link"
							href="testimony.html">Testimonies </a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="contact.html">Contact</a>
						</li>
						<li class="nav-item">
							<a class="nav-link btn btn-primary btn-sm" href="quote.html">get a quote</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
</header>

<!-- Search Form -->
<div class="search-form">
	<a href="#" class="close" id="searchClose"> 
		<i class="ti-close"></i>
	</a>
	<div class="container">
		<form action="#" class="row">
			<div class="col-lg-10 mx-auto">
				<h3>Search Here</h3>
				<div class="input-wrapper">
					<input type="text" class="form-control" name="search" id="search"
						placeholder="Enter Keywords..." required>
					<button>
						<i class="ti-search"></i>
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- /navigation -->

